<div class="card  mx-auto mb-3" style="max-width: 70%;">
  <div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="../../assets/avatars/default/default-man-avatar.png" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
      additional content. This content is a little bit longer.</p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
  </div>
</div>
