body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #14AE14;
  overflow-x: hidden;
  transition: width .5s linear;
  padding-top: 20%;
}

.sd a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  white-space: pre;


}

.sd a:hover {
  color: #ffffff;
}

.sd .closebtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  text-align: left;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  background-color: #14AE14;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #009929;
}

#main {
  transition: .5s linear;
  padding: 16px;
}
.card{
  margin: 20px;
}
.card-text{
  transition: 3s linear;
  white-space: pre-wrap;
}
