<div id="mySidebar" class="sidebar">
  <div id="sd" class="sd">
    <a  class="closebtn" (click)="closeNav()">×</a>
    <a  href="#">Home</a>
    <a  href="#">Diaries</a>
    <a  href="about">About</a>
    <a  href="sign-in">Log out</a>
  </div>
</div>

<div id="main">
  <button class="openbtn" (click)="openNav()">☰ </button>
  <div class="diaries">

    <div class="card">
      <div class="card-header">
        Diary
      </div>
      <div class="card-body">
        <h5 class="card-title">Lorem Ipsum Dolor</h5>
        <p id="card-text" class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="btn btn-success">Open</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Diary
      </div>
      <div class="card-body">
        <h5 class="card-title">Lorem Ipsum Dolor</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="btn btn-success">Open</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Diary
      </div>
      <div class="card-body">
        <h5 class="card-title">Lorem Ipsum Dolor</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="btn btn-success">Open</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Diary
      </div>
      <div class="card-body">
        <h5 class="card-title">Lorem Ipsum Dolor</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.</p>
        <a href="#" class="btn btn-success">Open</a>
      </div>
    </div>
  </div>
</div>
