<div class="editor-block  w-75 mx-auto">
  <input class="tittle" type=text [(ngModel)]="diary.diaryName"/>
  <textarea class="diary-text " type="text" [(ngModel)]="diary.diaryText"></textarea>
  <button  type=button (click)="saveChanges()">save</button>
</div>

