
.card-register {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 25%;
  margin-top: 25%;
}

.card-register .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-register .card-body {
  padding: 2rem;
}

.form-register {
  width: 100%;
}

.invalid-input{
  color: red;
}
