<body>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin ">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" #f="ngForm" (ngSubmit)="f.form.valid && sendSignInInfo()">
            <div class="form-label-group">
              <input type="email"
                     id="inputEmail"
                     class="form-control"
                     placeholder="Email address"
                     name="email"
                     [(ngModel)]="model.email"
                     #email="ngModel"
                     [ngClass]="{'is-invalid ': f.submitted && email.invalid}"
                     required email
              >
            </div>
            <div *ngIf="f.submitted && email.invalid" class="invalid-input">
              <div *ngIf="email.errors?.required">Email is required</div>
              <div *ngIf="email.errors?.email">It is not a valid email</div>
            </div>

            <br>
            <div class="form-label-group">
              <input type="password"
                     id="inputPassword"
                     class="form-control"
                     placeholder="Password"
                     name="password"
                     [(ngModel)]="model.password"
                     #pass="ngModel"
                     [ngClass]="{'is-invalid':f.submitted && pass.invalid}"
                     required
                     minlength="8"
              >
            </div>
            <div *ngIf="f.submitted && pass.invalid" class="invalid-input">
              <div *ngIf="pass.errors?.required">Password is required</div>
              <div *ngIf="pass.errors?.minlength">Password is too small (at least 8 characters)</div>
            </div>
            <br>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Sign in
            </button>
            <div class="text-center">or</div>
            <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit"
                    routerLink="/register">Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
